/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
  }
  
  header,
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  button {
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  input {
    padding: 0.5rem;
  }
  
  .contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .card {
    width: 220px;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .permanente {
    border-left: 8px solid green;
  }
  
  .temporal {
    border-left: 8px solid orange;
  }